/* ------------------------------------------------
                    DARKMODE
--------------------------------------------------- */

[data-theme="dark"] {
  background: #000000;
  color: rgb(255, 255, 255);

  .darkmode {
    z-index: 15;
    mix-blend-mode: difference;
  }

  .darkmode__circle {
    background-color: #fff;
  }

  .search {
    background-color: white;
  }

  .menu-tog {
    z-index: 15;
    mix-blend-mode: difference;
  }

  .menu-tog span {
    background-color: white;
  }

  .search__value {
    color: rgb(0, 0, 0);
  }

  .search__result {
    color: black;
  }

  input[type="submit"] {
    color: rgb(0, 0, 0);
  }

  input[type="text"] {
    border-bottom: 2px solid black;
  }
}

[data-theme="light"],
[data-theme=""] {
  background: #ffffff;
  color: rgb(0, 0, 0);

  .darkmode {
    z-index: 15;
    mix-blend-mode: difference;
    color: white;
  }

  .darkmode__circle {
    background-color: #fff;
  }

  .menu-tog {
    z-index: 15;
    mix-blend-mode: difference;
  }

  .menu-tog span {
    background-color: white;
  }

  .search {
    background-color: black;

    hr {
      border-bottom: 2px dashed white;
    }
  }

  .search__result {
    color: white;

    // ul:first-child li:nth-child(odd) {
    //   background-color: #fff;
    //   color: #000000;
    // }
  }

  .search__value {
    color: rgb(255, 255, 255);
  }

  input[type="submit"] {
    color: rgb(255, 255, 255);
    border: 1px solid white;
  }

  input[type="text"] {
    border-bottom: 2px solid rgb(255, 255, 255);
  }
}
