.result {
  // background-color: red;
  height: auto;
  width: 500px;
  //   display: none;
}

ul:first-child {
  background-color: blue;
}

ul:not(ul:first-child) {
  background-color: green;
}

.result {
  display: none;
}

.active {
  display: block;
}

// .active {
//   display: block;
// }
