/* SUMMARY 

- GLOBAL
- HEADER
- HOME
- FOOTER

*/

/* ------------------------------------------------
                    GLOBAL
--------------------------------------------------- */
:root {
  --page-gutter: 32px;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  max-height: 100vh;
}

h1 {
  font-size: 100px;
  display: inline;
  font-family: "bosh";
}

.page-wrapper {
  padding: var(--page-gutter);
  overflow-x: hidden;
}

/* ------------------------------------------------
                    GLOBAL
--------------------------------------------------- */
header {
  height: calc(13vh - var(--page-gutter));
  width: 100%;
  // Centre Nav au milieu du header
  display: flex;
  align-items: center;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.darkmode {
  position: fixed;
  top: 85%;
  left: 0;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-self: flex-end;
  margin-left: auto;
  cursor: pointer;

  &__circle {
    background-color: #000000;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-left: 0.3vw;
  }
}

.search {
  // margin-left: auto;
  // background-color: red;
  // display: none;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  z-index: 10;
  transition: all 1s ease-in-out;
  padding: calc(var(--page-gutter) * 4);
  // right: -35%;
  // width: 35%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &__result {
    overflow: scroll;
    max-height: 60vh;
    width: 80vw;
    display: none;
    z-index: 10;
    font-size: 32px;
    // position: absolute;
    &::-webkit-scrollbar {
      display: none;
    }

    ul:first-child {
      background-color: blue;
    }

    ul:not(ul:first-child) {
      background-color: green;
    }
  }

  form {
    width: 80vw;
  }
  input[type="text"] {
    border-bottom: 2px solid black;
    width: 100%;
    padding: 0 2vw;
    height: 15vh;
    font-size: 64px;
  }

  &--view {
    right: 0%;
  }

  input[type="submit"] {
    display: none;
  }
}

.active {
  display: block;
}

.menu-tog {
  // INITIAL STATE
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 10px;
  justify-content: space-around;
  cursor: pointer;
  transition: 0.5s;
  transform: center;
  margin-left: auto;

  & span {
    height: 2px;
    // background-color: rgb(0, 0, 0);
    transform-origin: center;
    transition: 0.2s;
    // Pas mal
    // transition: background-color 1000ms ease-in-out;

    &:nth-child(1) {
      width: 100%;
    }

    &:nth-child(2) {
      width: 100%;
    }
  }

  // MODIFY STATE
  &.ready span {
    position: absolute;
    left: 0%;
    width: 100%;

    &:nth-child(1) {
      top: 40%;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      bottom: 40%;
      transform: rotate(-45deg);
    }
  }
}

/* ------------------------------------------------
                    HOME
--------------------------------------------------- */
.grid__img {
  height: 500px;
  width: 350px;
  background-image: url("../images/Garcin.jpg");
  background-repeat: no-repeat;
}

.home {
  height: 74vh;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

/* ------------------------------------------------
                    FOOTER
--------------------------------------------------- */
footer {
  height: calc(13vh - var(--page-gutter));
}

// svg {
//   height: 100%;
//   width: 100%;
// }

// path {
//   height: 20px;
//   width: 20px;
// }
