*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

input,
button {
  color: inherit;
  border: none;
  background-color: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

label {
  display: none;
}

@font-face {
  font-family: "bosh";
  src: url("../font/Bosch.otf");
}

textarea:focus,
input:focus {
  outline: none;
}

// h1,
// h2,
// h3,
// a,
// p,
// li {
//   transition: color 1000ms ease-in-out;
// }

// div {
//   transition: color 1000ms ease-in-out, background-color 1000ms ease-in-out;
// }
